# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.next
.env
.vscode

node_modules
dist
dist-ssr
*.local

_bin
*.bu.css
*.bu.jsx
*.bu.js
*.m4a.srt
*.m4a.txt
*.m4a.vtt
public/uploads/*.m4a
public/uploads/*.m4a.srt
public/uploads/*.m4a.txt
public/uploads/*.m4a.vtt

*.pem
*.crt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
