.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panelMessages {
    background-image: linear-gradient(#333, #2E2E2E);
    position: relative;
    width: 100vw;
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.listMessages {
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.indicator {
    background-color: #F66;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-left: 1em;
    animation: blink 0.5s ease infinite;
}
.indicatorOff {
    background-color: #222;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-left: 1em;
}
@keyframes blink {
    0% { background-color: #F66; }
    100% { background-color: #F06; }
}

.panelLeft, .panelRight {
    width: 3em;
}
.panelRight {
    text-align: right;
}
.period {
    margin-right: 1em;
    font-size: 0.8em;
    color: #777;
}

.panelControl {
    background-color: #333;
    position: relative;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3em;
    box-sizing: border-box;
}
.settings {
    position: absolute;
    right: 5px;
    top: 5px;
}

.centerContainer {
    position: relative;
    width: 100px;
    height: 100px;
}
.progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.buttonCenter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: #2229;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
    
    .container {
        flex-direction: row;
    }
    .panelMessages {
        background-image: linear-gradient(to right, #333, #2E2E2E);
        width: calc(100vw - 200px);
        height: 100vh;
    }
    .listMessages {
        padding-bottom: 2em;
    }
    .panelControl {
        width: 200px;
        height: 100vh;
    }

}