.progress {
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}
.inner {
    /*background-color: #555;*/
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.display {
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display span {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}